.home {
  display: flex;
}
.home-left {
  display: flex;
  flex-direction: column;
  background-color: #343a40;
  color: white;
  padding: 20px;
  margin: 10px;
  height: 80vh;
  width: 22%;
}
.filter-icon {
  margin-right: 10px;
  padding-bottom: 5px;
}
.home-left > h1 {
  font-size: 1.5rem;
}
.filters {
  font-size: 1.2rem;
  padding: 10px 0;
  margin-left: 30px;
  flex-wrap: nowrap;
}
.filter-btn {
  margin: 0 50px;
  margin: 10px;
  padding: -5px 0 !important;
  background-color: aliceblue !important;
  color: black !important;
}

.home-right {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 10px 0 10px 0;
  justify-content: space-around;
}
.card-img {
  height: 200px;
}
.card-body {
  margin: 0;
}
